{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}
<p>Liste des tests<p/>

 <table class="tests">
    
        <thead>
            <tr>
                
                    <th>Test</th>
                    <th>Libelle</th>
                    <th>Auteur</th>
                    <th>Statut</th>

             </tr>
        
        </thead>
        <tbody>
            {% for tests in projet.tests %}

                <tr>
                    <td>{{tests.libelle}}</td>
                    <td>{{tests.description}}</td>
                    <td><a class="btn btn-primary" href="{{ path('testreponse_create',{'idprojet':projet.id,'idtest':tests.id})}}">Compléter le test</a></td>
         
                </tr>
            {%endfor%}

        </tbody>
     </table>

<a class="btn btn-primary" href="{{ path('test_create',{'idprojet':projet.id})}}">Créer un test</a></br>

{% endblock %}
