{% extends 'base.html.twig' %}
{% block body %}

<article>

    <h2>Analyse du projet : {{projet.titre}}</h2>

    <p>Vous trouverez ci dessous le tableau de bord de votre projet</p>

</article>

{% endblock %}
