{% extends 'base.html.twig' %}
{% block body %}

    <h2>Analyse du projet : {{projet.titre}}</h2>

    <p>Vous trouverez ci dessous le tableaucx de bord de votre projet</p>
    <p>Racine du projet<p/>
{% endblock %}
