{% extends 'base.html.twig' %}
{% block body %}

    <strong>Analyse du projet : {{projet.titre}}</strong>

    <p>Assistant de creation du paramérage</p>

  <table class="societes">
    
        <thead>
            <tr>
                
                    <th>SIREN</th>
                    <th>Raison sociale</th>
                    <th>Lancer l'assistant</th>
            </tr>
        
        </thead>
        <tbody>


            {%for societes in societesprojet %}
                <tr>
                    <td>{{societes.siren}}</td>
                    <td>{{societes.raisonsociale}}</td>
                    <td><a class="btn btn-primary" href="{{ path('assistantparametragehrszoneslibres_create',{'idprojet':projet.id,'idsociete':societes.id})}}">Lancer l'assistant</a></td>

                </tr>
            {%endfor%}

           
        </tbody>
     </table>


{% endblock %}
