{% extends 'base.html.twig' %}
{% block body %}

<article>

    <strong>Tableau de bord du projet : {{projet.titre}}</strong>

    <p>Vous trouverez ci dessous le tableau de bord de votre projet</p>

</article>

{% endblock %}
