{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<a class="nav-link" href="{{ path('annuaireorganisme_create')}}">Créer un nouvel organisme</a>
</div>
{% endblock %}
