{% extends 'base_assistant.html.twig' %}

{% block title %}Accueil de l'assistant {% endblock %}

{% block body %}

<p>L'assistant se compose de plusieurs chapitres que vous devez compléter pour réaliser l'analyse</p>

<strong>Chapitre création de la CCN</strong>

<p>Pour compléter ce chapitre vous aurez besoin</p>

 <ul>
        <li>Vos classifications</li>
        <li>Vos tables d'ancienneté</li>
        <li>Vos grilles des maintiens des salaires</li>
</ul>

<a class="btn btn-primary" href="{{ path('assistantcreationsociete_chapitreccn',{'idprojet':projet.id,'idsociete':societe.id})}}">Lancer le chapitre : Création CCN</a></br>


<strong>Chapitre création des codes emplois</strong>

<p>Pour compléter ce chapitre vous aurez besoin</p>

 <ul>
        <li>Liste de vos codes emplois</li>
</ul>

<a class="btn btn-primary" href="{{ path('assistantcreationsociete_emploi_create',{'idprojet':projet.id,'idsociete':societe.id})}}">Lancer le chapitre : Création des codes emplois</a></br>

<strong>Chapitre création du paramétrage analytique</strong>

<p>Pour compléter ce chapitre vous aurez besoin</p>

 <ul>
        <li>De votre paramétrage analytique</li>
</ul>

<a class="btn btn-primary" href="{{ path('assistantcreationsociete_axe_create',{'idprojet':projet.id,'idsociete':societe.id})}}">Lancer le chapitre : Création des axes analytiques</a></br>

<strong>Chapitre création des établissements</strong>

<p>Pour compléter ce chapitre vous aurez besoin</p>

 <ul>
        <li>Liste de vos établissements</li>
        <li>Liste de vos banques</li>
        <li>Liste de vos organismes</li>
        <li>Liste de vos règles de CP</li>


</ul>

<a class="btn btn-primary" href="{{ path('assistantcreationsociete_chapitreetablissement',{'idprojet':projet.id,'idsociete':societe.id})}}">Lancer le chapitre : Création d'un établissement</a></br>
{% endblock %}
