{% extends 'base.html.twig' %}

{%block body %}

    <h1>Ajouter une organisme à l'annuaire</h1>

    {{form_start(formAnnuaireorganisme)}}

    {{form_widget(formAnnuaireorganisme)}}

    <button type="submit" class="btn btn-primary">Créer un organisme</button>

    {{form_end(formAnnuaireorganisme)}}




{%endblock%}

