{% extends 'base_bibliotheque.html.twig' %}

{%block body %}

    <h1>Créer une population</h1>

    {{form_start(formBibliothequepopulationplandepaie)}}
    {{form_widget(formBibliothequepopulationplandepaie)}}
    <button type="submit" class="btn btn-primary">Créer une population </button>

    {{form_end(formBibliothequepopulationplandepaie)}}



{%endblock%}
