{% extends 'base.html.twig' %}

{% block title %}Accueil de l'assistant {% endblock %}

{% block body %}

    {{societe.raisonsociale}}
    <p>L'assistant se compose de plusieurs chapitres que vous devez compléter pour réaliser l'analyse</p>

    <strong>Chapitre Zones libres</strong>

    <p>HR Sprint propose plusieurs zones libres</p>


    <a class="btn btn-primary" href="{{ path('assistantparametragehrs_chapitrezoneslibres',{'idprojet':projet.id,'idsociete':societe.id})}}">Lancer le chapitre : Création des zones libres</a></br>


    <strong>Chapitre création des absences</strong>

    <p>Pour compléter ce chapitre vous aurez besoin</p>


    <a class="btn btn-primary" href="{{ path('assistantcreationsociete_emploi_create',{'idprojet':projet.id,'idsociete':societe.id})}}">Lancer le chapitre : Création des codes emplois</a></br>

    <strong>Chapitre création des rubriques</strong>

    <p>Pour compléter ce chapitre vous aurez besoin</p>

    <a class="btn btn-primary" href="{{ path('assistantcreationsociete_axe_create',{'idprojet':projet.id,'idsociete':societe.id})}}">Lancer le chapitre : Création des axes analytiques</a></br>

{% endblock %}
