{% extends 'base.html.twig' %}

{%block body %}

    <strong>Créer une liste déroulante libre</strong>

    <p>HR Sprint donne la possibilité d'ajouter plusieurs zones libres </p>

    {{form_start(formZonelibrehrs)}}
   
    {{form_widget(formZonelibrehrs)}}

    <button type="submit" class="btn btn-primary">Créer une liste  déroulante libre</button>

    {{form_end(formZonelibrehrs)}}

{%endblock%}
